---
import Header from '../components/Header.astro';

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-black font-roboto-mono leading-normal text-neutral-300">
    <Header />
    <slot />
    <footer
      class="border-t border-t-neutral-500 px-gutter-x pb-gutter-y-0.5 pt-gutter-y-2"
    >
      <div class="grid gap-x-gutter-x gap-y-gutter-y lg:grid-cols-6">
        <a href="/" class="lg:col-span-2">
          <img
            src="/images/logo.svg"
            alt="AI Coloso."
            width="104"
            height="32"
            decoding="async"
          />
        </a>
        <nav class="lg:col-span-4" aria-label="Footer menu">
          <ul class="grid grid-cols-2 gap-x-gutter-x md:grid-cols-4">
            {
              [
                {
                  label: 'News',
                  href: '/news/',
                  className: 'row-span-4',
                  children: [
                    {
                      label: 'Technology',
                      href: '/news/technology/',
                    },
                    {
                      label: 'Research',
                      href: '/news/research/',
                    },
                    {
                      label: 'Business',
                      href: '/news/business/',
                    },
                    {
                      label: 'Innovation',
                      href: '/news/innovation/',
                    },
                    {
                      label: 'Industry',
                      href: '/news/industry/',
                    },
                  ],
                },
                {
                  label: 'Products',
                  href: '/products/',
                  className: 'row-span-4',
                  children: [
                    {
                      label: 'AI Assistant',
                      href: '/products/ai-assistant/',
                    },
                    {
                      label: 'AI Analytics',
                      href: '/products/ai-analytics/',
                    },
                    {
                      label: 'AI Chatbots',
                      href: '/products/ai-chatbots/',
                    },
                  ],
                },
                {
                  label: 'About Us',
                  href: '/about/',
                  className: 'row-span-4 mt-gutter-y md:mt-0',
                  children: [
                    {
                      label: 'Our Mission',
                      href: '/about/mission/',
                    },
                    {
                      label: 'Our Team',
                      href: '/about/team/',
                    },
                    {
                      label: 'Company Information',
                      href: '/about/information/',
                    },
                  ],
                },
                {
                  label: 'Careers',
                  href: '/careers/',
                  className: 'mt-gutter-y md:mt-0',
                },
                {
                  label: 'Terms & Policies',
                  href: '/terms/',
                  className: 'col-start-2 md:col-start-4',
                },
                {
                  label: 'Privacy Policy',
                  href: '/privacy/',
                  className: 'col-start-2 md:col-start-4',
                },
              ].map(({ label, href, children, className }) => {
                return (
                  <li class={className}>
                    <a
                      class="inline-block py-[0.3125rem] font-medium transition-colors duration-100 ease-out hover:text-green-500"
                      href={href}
                    >
                      {label}
                    </a>
                    {children && (
                      <ul>
                        {children.map(({ label, href }) => {
                          return (
                            <li>
                              <a
                                class="inline-block py-[0.3125rem] text-neutral-500 transition-colors duration-100 ease-out hover:text-green-500"
                                href={href}
                              >
                                {label}
                              </a>
                            </li>
                          );
                        })}
                      </ul>
                    )}
                  </li>
                );
              })
            }
          </ul>
        </nav>
      </div>

      <a
        href="/contact"
        class="mt-gutter-y flex flex-wrap justify-center gap-x-gutter-x whitespace-nowrap text-[16vw] font-medium leading-none tracking-[-0.03em] text-white transition-colors duration-100 ease-out after:content-['--------->'] hover:text-green-500 lg:flex-nowrap lg:text-[8vw]"
        >Contact Us</a
      >
      <div class="-mx-gutter-x mt-gutter-y overflow-hidden">
        <p class="flex gap-x-[0.5em] text-[max(1vw,1rem)]">
          {
            [...Array(10)].map(() => {
              return <span class="whitespace-nowrap">© 2023 AI Coloso.</span>;
            })
          }
        </p>
      </div>
    </footer>
  </body>
</html>
